  .header {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 75px;
        font-size: 18px;
        font-family: "inter","BlinkMacSystemFont", 'Segoe UI', sans-serif;
        justify-content: space-between;
        margin-bottom: 0;
    }



    .new {
        margin-left: 0px;
        background-color: rgb(66, 118, 250);
        border-radius: 10px;
        border: none;
        margin-bottom: 25px;
        margin-left: -130px;
    }

    .span {
        margin-right: 0px;
    }


.mdn-logo {
    height: 75px;
    width: 100px;
}



.main {
    background-image: url("logo/mdn-pic.jpg");
    background-repeat: no-repeat;
height: 500px;
width: 2000px;
color: white;
background-position: px 1000px;

}
.main {
    background-color: black ;
    margin-top: 0;
}
   

.middle-section {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;

    
    align-items: center;
}

.theme-pic {
    width: 12px;

}

.right-section {
    display: flex;
    align-items: center;
    flex-direction: row;
justify-content: space-between;
margin-right: 20px;
}

.search-bar {
    display: flex;
    border: 1px solid;
    background: ;
    border-radius: 10px;
    
    width: 50px;
    height: px;
}

.search {
    width: 12px;
}
hr {
    width: 6px;
    color: blue;
    
}